# Environment Name (tagged to all instances)
environment_name = "my-hashistack-env"

# Operating System to use ie RHEL or Ubuntu
# os = "Ubuntu"
os = "RHEL"

# Operating System version to use ie 7.3 (for RHEL) or 16.04 (for Ubuntu)
# os_version = "16.04"
os_version = "7.3"

# AWS Region
aws_region = "us-east-1"
